<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="PSIMPDBContainer" connectionString="metadata=res://*/PSIMPDB.csdl|res://*/PSIMPDB.ssdl|res://*/PSIMPDB.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=G:\Projects\PSIMP\PSIMP\PSIMP.Web\App_Data\PSIMPDB.sdf;password=psimpdb;persist security info=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>