@{
    ViewBag.Title = "Index";
    Session["displayMode"] = "page";
}
<link href="~/Content/Page.css" rel="stylesheet" />
<script>
   
</script>
@(
 Html.X().Viewport()
        .Layout(LayoutType.Border)
        .Items(
            Html.X().Container()
                .Height(90)
                .Region(Region.North)
                .Content(
                        @<text>
                        <div class="header">
                            <div class="left">
                                <div class="title">
                                    XXX系统<span class="title-sub">V1</span>
                                </div>
                            </div>
                            <div class="right">
                                &nbsp;
                            </div>
                        </div>
                        </text>
                )
           , Html.X().Panel()
                 .Cls("menuPanel")
                 .Layout(LayoutType.Fit)
                 .Split(true)
                 .Header(false)
                 .Collapsible(true)
                 .CollapseMode(CollapseMode.Mini)
                 .Region(Region.West)
                 .Width(200)
                 .ItemsFrom(@<text>@Html.MvcSiteMap().SiteMap("ExtTreeMap")</text>)
           , Html.X().Panel()
                 .ID("Page_Content")
                 .Region(Region.Center)
                 .Layout(LayoutType.Fit)
                 .Border(false)
                 .Loader(
                     Html.X().ComponentLoader()
                         .AutoLoad(false)
                         .RemoveAll(true)
                         .Mode(LoadMode.Component)
                         .LoadMask(mask =>
                         {
                             mask.ShowMask = true;
                             mask.Msg = "界面加载中...";
                         })
                 )
                 .Items(
                    Html.X().Panel()
                        .Title("首页")
                        .Content(@<text>
<a href="#">ry</a>
<a href="#">ry</a>
</text>)
                 )

        )
)
