@{
    Layout = null;    
}
@model NodeCollection
@(Html.X()
    .Panel()
    .Layout(LayoutType.Border)
    .Border(false)
    .Items(
         Html.X().TreePanel()
            .Region(Region.West)
            .Split(true)
            .Width(150)
            .RootVisible(false)
            .Root(Html.X().Node().Children(Model))
            .Listeners(events => {
                events.ItemClick.Handler = "App.MyFolderView.getStore().load({params:{id:record.data.id}})";
            })
        , Html.X()
              .Panel()
              .ID("Files_View")
              .Cls("files-view")
              .Region(Region.Center)
              .Layout(LayoutType.Card)
              .Padding(0)
              .TopBar(
                    Html.X().Toolbar()
                        .Items(
                            Html.X().Button().Text("文件")
                                .MenuItem(
                                    Html.X().MenuItem().Text("上传文件").Icon(Icon.PageAdd),
                                    Html.X().MenuItem().Text("新建目录").Icon(Icon.FolderAdd)
                                )
                        )
                )
              .Items(
                  Html.X().DataView()
                      .ID("MyFolderView")
                      .Cls("images-view")
                      .MultiSelect(true)
                      .OverItemCls("x-item-over")
                      .ItemSelector("div.thumb-wrap")
                      .DeferEmptyText(true)
                      .EmptyText("没有记录")
                      .Store(
                          Html.X().StoreFor<FolderView>().AutoLoad(false).IsPagingStore(false)
                      )
                      .Tpl(
                            Html.X().XTemplate()
                                .Html(
                                    @<text>
                                        <tpl for=".">
								            <div class="thumb-wrap" id="{Name}">
									            <div class="thumb"><img src="@Url.Content("~/Images/folder.png")" title="{Name}"/></div>
									            <span class="x-editable">{Name}</span>
								            </div>
							            </tpl>
							            <div class="x-clear"></div>
                                    </text>
                                )
                     )
                      .Plugins(
                        Html.X().DataViewDragSelector(),
                        Html.X().DataViewLabelEditor().DataIndex("Name")
                    )
              )
        )
)