@{
    Layout = null;    
}
@model NodeCollection
@(Html.X()
    .Panel()
    .Layout(LayoutType.Border)
    .Border(false)
    .Items(
         Html.X().TreePanel()
            .Region(Region.West)
            .Split(true)
            .Width(150)
            .RootVisible(false)
            .Root(Html.X().Node().Children(Model))
            .Listeners(events => {
                events.ItemClick.Handler = @"
App.Files_View.setTitle(record.data.text);
App.folderPath.setValue(record.data.dataPath);
App.CurrentFolderID.setValue(record.data.id);
App.MyFolderView.getStore().load({params:{id:record.data.id}})";
            })
        , Html.X()
              .Panel()
              .ID("Files_View")
              .Cls("files-view")
              .Title("资源管理器")
              .Region(Region.Center)
              .Layout(LayoutType.Card)
              .Padding(0)
              .DockedItems(
                    Html.X().Toolbar()
                        .Items(
                            Html.X().Button().Text("上传文件").Icon(Icon.PageAdd)
                            ,Html.X().Button().Text("新建目录").Icon(Icon.FolderAdd)
                        ),
                    Html.X().Toolbar()
                        .Items(
                            Html.X().ToolbarTextItem().Text("路径")
                            ,Html.X().ToolbarSeparator()
                            ,Html.X().Hidden().ID("CurrentFolderID")
                            ,Html.X().TextField().ID("folderPath").Flex(1).ReadOnly(true).EmptyText("/")
                        )
              )
              .Items(
                  Html.X().DataView()
                      .ID("MyFolderView")
                      .Cls("images-view")
                      .MultiSelect(true)
                      .OverItemCls("x-item-over")
                      .ItemSelector("div.thumb-wrap")
                      .DeferEmptyText(true)
                      .EmptyText("空的文件夹")
                      .Store(
                          Html.X().StoreFor<FolderView>().AutoLoad(false).IsPagingStore(false)
                      )
                      .Tpl(
                            Html.X().XTemplate()
                                .Html(
                                    @<text>
                                        <tpl for=".">
								            <div class="thumb-wrap" id="{Name}">
									            <div class="thumb"><img src="@Url.Content("~/Images/folder.png")" title="{Name}"/></div>
									            <span class="x-editable">{Name}</span>
								            </div>
							            </tpl>
							            <div class="x-clear"></div>
                                    </text>
                                )
                     )
                      .Plugins(
                        Html.X().DataViewDragSelector(),
                        Html.X().DataViewLabelEditor().DataIndex("Name")
                    )
              )
        )
)