@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@using System.Web.Mvc.Html
@using System.Linq
@using MvcSiteMapProvider.Web.Html.Models

@if ((Session["displayMode"] ?? "page") == "page")
{
    foreach (var node in Model)
    { 
        if(node.Controller.ToLower()=="home"&&node.Action.ToLower()!="index")
        {
            <a href="@node.Url" onclick="return checkMenuGroup('g_@node.Action')">@node.Title</a>
        }
        else
        {            
            @Html.DisplayFor(m => node);
        }
        if (node != Model.Last())
        {
            <text> &gt; </text>
        }
    }
}
else
{
     <text> @Model.Last().Title </text>
}