/***在firefox字体小的问题***/
.x-panel-header-text-default-framed,.ux-desktop-shortcut-text, .x-btn-default-small .x-btn-inner, .x-btn-default-medium .x-btn-inner, .x-btn-default-large .x-btn-inner, .x-btn-default-toolbar-small .x-btn-inner, .x-btn-default-toolbar-medium .x-btn-inner, .x-btn-default-toolbar-large .x-btn-inner, .x-menu-item-text, .x-html-editor-tb .x-font-select, .x-panel-header-default, .x-panel-header-text-default, .x-panel-header-default-framed, .x-tip-header, .x-tip-body, .x-form-invalid-tip-body, .x-tip-header-text, .x-progress-text, .x-toolbar, .x-toolbar .x-form-item-label, .x-toolbar .x-toolbar-text, .x-window-header-text-default, .x-tab-bar, .x-tab button, .x-grid-rowbody, .x-grid-row .x-grid-cell, .x-grid-group-title, .x-grid-row-editor .x-form-field, .x-grid-row-editor .x-form-display-field, .x-form-invalid-under, .x-fieldset-header, .x-column-header, .x-mask-msg div, .x-btn-group-header-text-default-framed, table.x-datepicker-inner a, .x-monthpicker-item, .x-dd-drag-ghost { font-size: 12px; font-family: "微软雅黑"; }
.x-column-header { text-shadow: 0 0 0 rgba(255, 255, 255, 0.3); }
.x-column-header-inner { line-height: 20px; }
.x-toolbar .x-form-item-label, .x-form-item-label { line-height: 12px; }


.x-menu-icon-separator { 
    width:0px;
    display:none;
}

/*桌面图标*/
.shortcut-label { height: auto !important; }
.ux-desktop-shortcut-icon { width: 32px; height: 32px; margin: 0 auto; }
.default-shortcut { 
    background: url(../Images/ModuleIcon/default.png) no-repeat center center; 
    background-size: 32px 32px; 
    background: none\9; 
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/ModuleIcon/default.png', sizingMethod='scale')\9; 
}
.default-shortcut16 { 
    background: url(../Images/ModuleIcon/default.png) no-repeat center center;
    background-size: 16px 16px; 
    background: none\9; 
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/ModuleIcon/default.png', sizingMethod='scale')\9;
}
.person-shortcut32 { 
    background: url(../images/moduleicon/person.png) no-repeat center center; 
    background-size: 32px 32px; 
    background: none\9; 
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/ModuleIcon/Person.png', sizingMethod='scale')\9; 
}
.person-shortcut16 { 
    background: url(../Images/ModuleIcon/Person.png) no-repeat center center;
    background-size: 16px 16px; 
    background: none\9; 
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/ModuleIcon/Person.png', sizingMethod='scale')\9;
}
.contract-shortcut32 { 
     background: url(../images/moduleicon/Contract.png) no-repeat center center; 
    background-size: 32px 32px; 
    background: none\9; 
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/ModuleIcon/Contract.png', sizingMethod='scale')\9; 
}
.contract-shortcut16 { 
    background: url(../Images/ModuleIcon/Contract.png) no-repeat center center;
    background-size: 16px 16px; 
    background: none\9; 
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/ModuleIcon/Contract.png', sizingMethod='scale')\9;
}
.tender-shortcut32 { 
     background: url(../images/moduleicon/Tender.png) no-repeat center center; 
    background-size: 32px 32px; 
    background: none\9; 
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/ModuleIcon/Tender.png', sizingMethod='scale')\9; 

}
.tender-shortcut16 { 
    background: url(../Images/ModuleIcon/Tender.png) no-repeat center center;
    background-size: 16px 16px; 
    background: none\9; 
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/ModuleIcon/Tender.png', sizingMethod='scale')\9;
}

.performance-shortcut32 { 
     background: url(../images/moduleicon/performance.png) no-repeat center center; 
    background-size: 32px 32px; 
    background: none\9; 
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/ModuleIcon/performance.png', sizingMethod='scale')\9; 

}
.performance-shortcut16 { 
    background: url(../Images/ModuleIcon/performance.png) no-repeat center center;
    background-size: 16px 16px; 
    background: none\9; 
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/ModuleIcon/performance.png', sizingMethod='scale')\9;
}
.project-shortcut32 { 
     background: url(../images/moduleicon/project.png) no-repeat center center; 
    background-size: 32px 32px; 
    background: none\9; 
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/ModuleIcon/project.png', sizingMethod='scale')\9; 

}
.project-shortcut16 { 
    background: url(../Images/ModuleIcon/project.png) no-repeat center center;
    background-size: 16px 16px; 
    background: none\9; 
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/ModuleIcon/project.png', sizingMethod='scale')\9;
}
.asset-shortcut32 { 
     background: url(../images/moduleicon/asset.png) no-repeat center center; 
    background-size: 32px 32px; 
    background: none\9; 
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/ModuleIcon/asset.png', sizingMethod='scale')\9; 

}
.asset-shortcut16 { 
    background: url(../Images/ModuleIcon/asset.png) no-repeat center center;
    background-size: 16px 16px; 
    background: none\9; 
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/ModuleIcon/asset.png', sizingMethod='scale')\9;
}
.query-shortcut32 { 
     background: url(../images/moduleicon/query.png) no-repeat center center; 
    background-size: 32px 32px; 
    background: none\9; 
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/ModuleIcon/query.png', sizingMethod='scale')\9; 

}
.query-shortcut16 { 
    background: url(../Images/ModuleIcon/query.png) no-repeat center center;
    background-size: 16px 16px; 
    background: none\9; 
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/ModuleIcon/query.png', sizingMethod='scale')\9;
}
.person-view .user-card {
    color: rgb(85, 85, 85);
    display: block;
    font-size: 12px;
    height: 102px;
    text-align: left;
    width: 236px;
    float:left;
    border:1px solid;
    margin:5px;
    border-color:transparent;
}
    .person-view .user-card .img {
        display: block;
        float: left;
        height: 100px;      
        margin-right: 10px;     
        position: relative;
        text-align: left;
        width: 75px;
    }
    .person-view .user-card .img-txt {
            display: block;
            height: 100px;
            position: relative;
            text-align: left;
            width: 146px;
            float:left;
            overflow:hidden;
    }
        .person-view .user-card .img-txt .actions {
            padding-top:5px;
        }
        .person-view .user-card .img-txt .actions a{
            cursor:pointer;
            color:#99bbe8;
            text-decoration:underline;
            padding:3px;
            margin:4px 2px;
            border:1px solid;
        }
        .person-view .user-card .img-txt .actions a:hover{
            color:#00ff21;
        }

.person-view .x-panel-body {
    background: white;
    font: 12px Arial, Helvetica, sans-serif;
}
.person-view .x-item-over{
    border-color:#ddd;
    background: #efefef url(../images/row-over.gif) repeat-x left top;
}

.person-view .x-item-selected{
    background: #eff5fb url(../images/selected.gif) no-repeat right bottom;
    border-color:#99bbe8;
}


.person-view .loading-indicator {
    font-size: 11px;
    background-image : url('../images/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
    margin: 10px;
}

.x-view-selector {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    border: 1px dotted;
    opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
    zoom: 1;
    background-color: #c3daf9;
    border-color: #3399bb;
}

.ext-strict .ext-ie .x-tree .x-panel-bwrap {
    position: relative;
    overflow: hidden;
}