@model IEnumerable<DesktopItem>
@(Html.X().Desktop(DesktopFrame.Config.Desktop())
.Control(desktop =>
{
    desktop.StartMenu.Frame = true;
    desktop.StartMenu.ToolConfig.Add(Html.X().Toolbar().ItemsFromPartial("StartMenuToolBar"));
    desktop.StartMenu.Buttons.Add(Html.X().Button().Icon(Icon.Lock).Text("锁定"));
    desktop.StartMenu.Buttons.Add(
        Html.X().Button().Icon(Icon.Key).Text("退出")
            .DirectEvents(events =>
            {
                events.Click.Before = "return confirm('您确定要退出系统吗？')";
                events.Click.Url = Url.Action("LogOff", "Account");
            }));
}
 )
.DesktopConfig(Html.X().DesktopConfig()
    .ContextMenu(menu =>
    {
        menu.Add(Html.X().Menu().ItemsFromPage(this, DesktopFrame.Config.ContextMenuPath));
    })
    .ShortcutContextMenu(menu =>
    {
        menu.Add(Html.X().Menu().ItemsFromPage(this, DesktopFrame.Config.ShortcutContextMenuPath));
    })
    .ShortcutDefaults(defaults =>
    {
        defaults.IconCls = "default-shortcut";
        defaults.TextCls = "shortcut-label";
    })
)
.Modules(modules =>
{
    foreach (var item in Model)
    {
        var module = Html.X()
            .DesktopModule()
            .AutoRun(item.AutoRun)
            .ModuleID(item.ModuleID)
            .Shortcut(Html.X().DesktopShortcut(item.Shortcut));
        if (item.Launcher != null)
        {
            module.Launcher(item.Launcher);
        }
        if (item.Window != null)
        {
            module.Window(window =>
            {
                var win = Html.X().Window(item.Window);
                //win.Loader(Html.X().ComponentLoader()
                //               .Url(Url.Action(item.Action, item.Controller))
                //               .Mode(LoadMode.Frame)
                //               .LoadMask(mask => {
                //                   mask.ShowMask = true;
                //                   mask.Msg = "正在载入" + item.Window.Title + "界面...";
                //               })
                //    );
                win.ItemsFromAction(item.Action, item.Controller);
                window.Add(win);
            });
        }
        modules.Add(module);

    }
})
)
<div style="position: fixed; min-width: 300px;top:10px; right:10px">
@(
 Html.X().Panel()
        .Title(" 待办事宜")
        .Frame(true)
        .Width(300)
        .MinHeight(250)
        .Collapsible(false)
)

</div>
<div style="position: fixed; min-width: 300px;bottom:45px; right:10px">
@(
 Html.X().Panel()
        .Title(" 提示信息")
        .Frame(true)
        .Width(300)
        .MinHeight(250)
        .Collapsible(true)
)

</div>
