@using Ext.Net.MVC
@using Ext.Net

@(Html.X().DataView()
      .ID("PersonView")
      .AutoScroll(true)
      .Store(Html.X().StoreFor<PSIMP.Models.Person>().ID("Person_Store"))
      .OverItemCls("x-item-over")
      .ItemSelector("div.user-card")
      .TrackOver(true)
      .Tpl(
           Html.X().XTemplate()
               .Html(
                   @<text>
                       <tpl for=".">
                            <div class="user-card">
                                  <div class="img" style="height: 100px; width: 75px;">
                                    <img style="width:75px;height:100px" src="@Url.Content("~/images/person")/{Picture}" alt="{Name}">
                                  </div>
                                  <div class="img-txt">
                                        <h4>{Name}</h4>
                                        <p class="ellipsis">{[values.Sex==0?'男':'女']} {Age}岁</p>    
                                        <p class="ellipsis">电话:{Telephone}</p>
                                        <p class="ellipsis">邮箱:<a href="mailto:{Email}">{Email}</a></p>
                                        <div class="actions">
                                            <a onclick="person.edit({Id})" class="btn-edit">
                                                <s class="icon sp-mk-edit"></s>
                                                <span class="txt">编辑</span>
                                               
                                            </a>
                                            <a onclick="person.delete({Id})"  class="btn-delete">
                                                <s class="icon sp-mk-del"></s>
                                                <span class="txt">删除</span>
                                            </a> 
                                        </div>
                                  </div>
                             </div>
		                </tpl>
                       <div class="x-clear"></div>
                   </text>
               )
      )
      //.Listeners(events =>
      //{
      //    events.SelectionChange.Handler = "if(selections[0]){App.Person_Summary.loadRecord(selections[0])}";
      //})
)
